

  <a [routerLink]="'/landing' | localize" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
    {{'routes.landing' | translate}}
  </a>
  <br>
  <a [routerLink]="'/other' | localize" [routerLinkActive]="['router-link-active']">
    {{'routes.other' | translate}}
  </a>
<br>
<select (change)="changeLanguage($event.target.value)">
    <option selected>choose lang</option>
    <option *ngFor="let i of languages">{{i}}</option>
</select>


<router-outlet></router-outlet>